In [2]:
import pandas as pd

data = pd.read_excel(
    r"D:\MyCodeDir_HANZIZHENG\distance_caculation\VVM and VH Travels & Board Global Mtg (01Jan-31Oct).xls"
)

In [3]:
data.head(5)

,PAX NAME,FLIGHT,TICKET NUMBER,ITINERARY,Stop 1,Stop 2,Stop 3,Stop 4,Stop 5,DISTANCE,...,COURIER,CAR TRSF,INSURANCE,OTHER,GST,TOTAL,CLASS,INV NO,INV DATE,REMARKS
0,TAM/HOCK CHUAN MR,SQ0026,618 385-952-1984,SIN/FRA/TLV/MUC/SIN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0.0,11001.3,J,1002944,2022-01-18,NaN
1,LU/YOH CHIE MR,SQ0038,618 385-958-0971,SIN/LAX/SIN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0.0,6504.9,U,1004265,2022-03-16,NaN
2,CHAN/HIOK CHIOU MR,SQ0510,618 385-959-7110,SIN/BLR/SIN,SIN,BLR,SIN,NaN,NaN,NaN,...,0,0,0,0,0.0,1230.8,M,1004915,2022-03-31,NaN
3,CHNG/ZHEN ZHI CHERYL MS,SQ0600,618 397-753-8045,SIN/ICN/SIN,SIN,ICN,SIN,NaN,NaN,NaN,...,0,0,0,0,0.0,1621.5,W,1008232,2022-05-31,NaN
4,CHUA KEE LOCK MR,SQ0012,618 3977638996,SIN/NRT/SIN,SIN,NRT,SIN,NaN,NaN,NaN,...,0,0,0,0,0.0,6664.2,Z,SI00000168,2022-07-05,NaN

In [4]:
data = pd.read_excel(r"D:\MyCodeDir_HANZIZHENG\distance_caculation\VVM Global Mtg.xlsx")

In [155]:
data.head(5)

,Client Name,Inv No,Date,Itin,Stop 1,Stop 2,Stop 3,Stop 4,Stop 5,Stop 6,...,Rail,Total,Cost Ctr,Emply ID,Contact,Sales Consultant,TR No,Purpose,PNR,A Flight
0,TOPANDASANI/KHUSHBU PERKASH MS,INV000012739,2022-04-01,CGK/SIN/CGK,NaN,NaN,NaN,NaN,NaN,NaN,...,0,581.4,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,LIAAQA,SQ495
1,CHUA/JOO HOCK MR,INV000012924,2022-04-26,SIN/DXB/SIN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,4853.0,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,LIAAQA,FZ8845
2,CHUA/JOO HOCK MR,INV000012924,2022-04-26,DXB/RUH,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1562.0,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,LIAAQA,EY2552
3,CHUA/JOO HOCK MR,INV000012924,2022-04-26,RUH/AUH,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1408.0,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,XZGUNY,EY391
4,CHUA/JOO HOCK MR,INV000012924,2022-04-26,AUH/DOH,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1550.0,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,SHGXAN,QR1018

In [5]:
for i in range(len(data)):
    if '//' in data['Itin'][i]:
        print(data['Itin'][i])
        data['Itin'][i] = data['Itin'][i].replace('//','/')
        print(data['Itin'][i])

SIN/SFO//LAX/SIN
SIN/SFO/LAX/SIN
SIN/MUC/DUS//AMS/SIN
SIN/MUC/DUS/AMS/SIN
SIN/SGN//HAN/SIN
SIN/SGN/HAN/SIN
BLR/DXB/TLV//AMM/DXB/BLR
BLR/DXB/TLV/AMM/DXB/BLR
SIN/DXB//LHR/SIN
SIN/DXB/LHR/SIN
SIN/DXB/TLV//LYS/DXB/SIN
SIN/DXB/TLV/LYS/DXB/SIN
SIN/DXB//LHR/SIN
SIN/DXB/LHR/SIN
SIN/DXB/TLV//FCO/DXB/SIN
SIN/DXB/TLV/FCO/DXB/SIN

C:\Users\hanzi\AppData\Local\Temp\ipykernel_39752\2005339906.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Itin'][i] = data['Itin'][i].replace('//','/')

In [6]:
airport = pd.read_csv(r"D:\MyCodeDir_HANZIZHENG\distance_caculation\airports.csv")

In [104]:
airport.head(5)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR

In [5]:
airport[airport['iata_code']=='SIN']

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
71085,26887,WSSS,large_airport,Singapore Changi Airport,1.35019,103.994003,22.0,AS,SG,SG-04,Singapore,yes,WSSS,SIN,NaN,http://www.changiairport.com/,https://en.wikipedia.org/wiki/Singapore_Changi...,RAF Changi

In [120]:
airport[airport['iata_code']=='EWR']

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
35401,3521,KEWR,large_airport,Newark Liberty International Airport,40.692501,-74.168701,18.0,NaN,US,US-NJ,Newark,yes,KEWR,EWR,EWR,http://www.panynj.gov/CommutingTravel/airports...,https://en.wikipedia.org/wiki/Newark_Liberty_I...,"Manhattan, New York City, NYC"

In [122]:
airport[airport['iata_code']=='AMS']

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
22265,2513,EHAM,large_airport,Amsterdam Airport Schiphol,52.308601,4.76389,-11.0,EU,NL,NL-NH,Amsterdam,yes,EHAM,AMS,NaN,http://www.schiphol.nl/,https://en.wikipedia.org/wiki/Amsterdam_Airpor...,NaN

In [103]:
# from geopy.distance import distance
# origin = (1.35019,103.994003)
# destination = (33.942501,-118.407997)
# distance(origin,destination).km

In [106]:
# float(airport[airport['iata_code'] =='SIN']['latitude_deg'])

In [109]:
data.iloc[60:61]

,PAX NAME,FLIGHT,TICKET NUMBER,ITINERARY,Stop 1,Stop 2,Stop 3,Stop 4,Stop 5,DISTANCE,...,COURIER,CAR TRSF,INSURANCE,OTHER,GST,TOTAL,CLASS,INV NO,INV DATE,REMARKS
60,CHUA KEE LOCK MR,NaN,NaN,VISA Handling Fee,VISA Handling Fee,NaN,NaN,NaN,NaN,NaN,...,0,0,0,90,0.0,90.0,NaN,SI00000168,2022-07-05,NaN

In [7]:
from geopy.distance import distance
LOCATION_COL = 'Itin'
TARGET_COL = 'Distance'
data[TARGET_COL] = 0.0
for i in range(len(data)):
    total_distance = 0
    if '-' in (data[LOCATION_COL][i]):
        try:
            airport_code_list = data[LOCATION_COL][i].split('-')
            for k in range(len(airport_code_list)):
                sub_total_distance = 0
                airport_code_sublist = airport_code_list[k].split('/')
                for l in range(len(airport_code_sublist)):
                    if l < len(airport_code_sublist) -1:
                        short_distance_dict_list = list()
                        origin_code = airport_code_sublist[l]
                        destination_code = airport_code_sublist[l+1]
                        origin = (
                            float(airport[airport['iata_code'] == origin_code.upper()]
                                  ['latitude_deg']),
                            float(airport[airport['iata_code'] == origin_code.upper()]
                                  ['longitude_deg']),
                        )

                        destination = (
                            float(airport[airport['iata_code'] ==
                                          destination_code.upper()]['latitude_deg']),
                            float(airport[airport['iata_code'] ==
                                          destination_code.upper()]['longitude_deg']),
                        )                 
                        distance_between_2_airports = distance(origin, destination).km
                        sub_total_distance = sub_total_distance + distance_between_2_airports
                total_distance = total_distance + sub_total_distance 
            data[TARGET_COL][i] = total_distance
            print(f'âœ…total distance of trip {i+1} are {total_distance}')
            print('*'*50)
        except:
            pass
                    
    elif '/' in (data[LOCATION_COL][i]):                    
        try:
            airport_code_list = data[LOCATION_COL][i].split('/')
            for j in range(len(airport_code_list)):
                if j < len(airport_code_list) - 1:
                    short_distance_dict_list = list()
                    origin_code = airport_code_list[j]
                    destination_code = airport_code_list[j + 1]
                    origin = (
                        float(airport[airport['iata_code'] == origin_code.upper()]
                              ['latitude_deg']),
                        float(airport[airport['iata_code'] == origin_code.upper()]
                              ['longitude_deg']),
                    )

                    destination = (
                        float(airport[airport['iata_code'] ==
                                      destination_code.upper()]['latitude_deg']),
                        float(airport[airport['iata_code'] ==
                                      destination_code.upper()]['longitude_deg']),
                    )
                    distance_between_2_airports = distance(origin, destination).km
                    info_str = f'the distance between {origin_code} and {destination_code} are {distance_between_2_airports}KM'
                    print(info_str)
                    total_distance = total_distance + distance_between_2_airports
            data[TARGET_COL][i] = total_distance
            print(f'ðŸ‘‰total distance of trip {i+1} are {total_distance}')
            print('*'*50)
        except:
            pass

the distance between CGK and SIN are 878.0045174628995KM
the distance between SIN and CGK are 878.0045174628995KM
ðŸ‘‰total distance of trip 1 are 1756.009034925799
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 2 are 11693.84054523295
**************************************************
the distance between DXB and RUH are 874.5065215718568KM
ðŸ‘‰total distance of trip 3 are 874.5065215718568
**************************************************
the distance between RUH and AUH are 806.6749844431803KM
ðŸ‘‰total distance of trip 4 are 806.6749844431803
**************************************************
the distance between AUH and DOH are 321.02217821192244KM
ðŸ‘‰total distance of trip 5 are 321.02217821192244
**************************************************
the distance between DOH and DXB are 378.38650445250386KM
ðŸ‘‰total distance of trip 6 are 378.38650445250386
**************************************************
the distance between DOH and DXB are 378.38650445250386KM
ðŸ‘‰total distance of trip 7 are 378.38650445250386
**************************************************
âœ…total distance of trip 8 are 0
**************************************************
the distance between CGK and SIN are 878.0045174628995KM
the distance between SIN and CGK are 878.0045174628995KM
ðŸ‘‰total distance of trip 9 are 1756.009034925799
**************************************************
the distance between CGK and SIN are 878.0045174628995KM
the distance between SIN and CGK are 878.0045174628995KM

C:\Users\hanzi\AppData\Local\Temp\ipykernel_39752\2350084094.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[TARGET_COL][i] = total_distance
C:\Users\hanzi\AppData\Local\Temp\ipykernel_39752\2350084094.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[TARGET_COL][i] = total_distance

ðŸ‘‰total distance of trip 10 are 1756.009034925799
**************************************************
the distance between CGK and SIN are 878.0045174628995KM
the distance between SIN and CGK are 878.0045174628995KM
ðŸ‘‰total distance of trip 11 are 1756.009034925799
**************************************************
the distance between CGK and SIN are 878.0045174628995KM
the distance between SIN and CGK are 878.0045174628995KM
ðŸ‘‰total distance of trip 12 are 1756.009034925799
**************************************************
the distance between SIN and BKK are 1409.882566040689KM
the distance between BKK and SIN are 1409.882566040689KM
ðŸ‘‰total distance of trip 13 are 2819.765132081378
**************************************************
the distance between SIN and CGK are 878.0045174628995KM
the distance between CGK and SIN are 878.0045174628995KM
ðŸ‘‰total distance of trip 14 are 1756.009034925799
**************************************************
the distance between SIN and CGK are 878.0045174628995KM
the distance between CGK and SIN are 878.0045174628995KM
ðŸ‘‰total distance of trip 15 are 1756.009034925799
**************************************************
the distance between BOS and EWR are 322.73902768655057KM
the distance between EWR and BOS are 322.73902768655057KM
ðŸ‘‰total distance of trip 16 are 645.4780553731011
**************************************************
the distance between CGK and DPS are 983.1783350931971KM
the distance between DPS and CGK are 983.1783350931971KM
ðŸ‘‰total distance of trip 17 are 1966.3566701863942
**************************************************
the distance between EWR and SIN are 15344.52069662716KM
the distance between SIN and EWR are 15344.52069662716KM
ðŸ‘‰total distance of trip 18 are 30689.04139325432
**************************************************
the distance between SFO and SIN are 13593.010656635095KM
the distance between SIN and EWR are 15344.52069662716KM
ðŸ‘‰total distance of trip 19 are 28937.531353262253
**************************************************
the distance between CGK and SIN are 878.0045174628995KM
ðŸ‘‰total distance of trip 20 are 878.0045174628995
**************************************************
the distance between BOS and SFO are 4351.8557961389015KM
ðŸ‘‰total distance of trip 21 are 4351.8557961389015
**************************************************
the distance between SIN and KUL are 297.2664360131855KM
the distance between KUL and SIN are 297.2664360131855KM
ðŸ‘‰total distance of trip 23 are 594.532872026371
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 24 are 11693.84054523295
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 25 are 11693.84054523295
**************************************************
the distance between DWC and RUH are 854.6920292497396KM
the distance between RUH and DWC are 854.6920292497396KM
ðŸ‘‰total distance of trip 26 are 1709.3840584994791
**************************************************
the distance between DXB and BAH are 487.2917095170968KM
the distance between BAH and AUH are 451.69273013062326KM
ðŸ‘‰total distance of trip 27 are 938.9844396477201
**************************************************
the distance between AUH and MCT are 381.3790226374842KM
ðŸ‘‰total distance of trip 28 are 381.3790226374842
**************************************************
the distance between MCT and DXB are 348.526649774097KM
ðŸ‘‰total distance of trip 29 are 348.526649774097
**************************************************
the distance between SIN and SFO are 13593.010656635095KM
the distance between SFO and LAX are 543.060907141501KM
the distance between LAX and SIN are 14113.747462996473KM
ðŸ‘‰total distance of trip 30 are 28249.819026773068
**************************************************
the distance between SFO and AUS are 2420.468431907547KM
ðŸ‘‰total distance of trip 31 are 2420.468431907547
**************************************************
the distance between SFO and DFW are 2356.680322343255KM
ðŸ‘‰total distance of trip 32 are 2356.680322343255
**************************************************
the distance between DFW and AUS are 305.09864105290603KM
ðŸ‘‰total distance of trip 33 are 305.09864105290603
**************************************************
the distance between AUS and LAX are 1998.672577403758KM
ðŸ‘‰total distance of trip 34 are 1998.672577403758
**************************************************
the distance between SIN and BKK are 1409.882566040689KM
the distance between BKK and SIN are 1409.882566040689KM
ðŸ‘‰total distance of trip 35 are 2819.765132081378
**************************************************
the distance between BKK and SIN are 1409.882566040689KM
ðŸ‘‰total distance of trip 36 are 1409.882566040689
**************************************************
the distance between SIN and MUC are 10061.553007882825KM
the distance between MUC and DUS are 486.704807262745KM
the distance between DUS and AMS are 178.72792465463752KM
the distance between AMS and SIN are 10517.337654824634KM
ðŸ‘‰total distance of trip 38 are 21244.323394624844
**************************************************
the distance between DUS and GVA are 563.8129445783795KM
ðŸ‘‰total distance of trip 39 are 563.8129445783795
**************************************************
the distance between SIN and ICN are 4614.434328909296KM
the distance between ICN and SIN are 4614.434328909296KM
ðŸ‘‰total distance of trip 40 are 9228.868657818592
**************************************************
the distance between GVA and AMS are 682.1553468786498KM
ðŸ‘‰total distance of trip 41 are 682.1553468786498
**************************************************
the distance between CGK and DPS are 983.1783350931971KM
the distance between DPS and CGK are 983.1783350931971KM
ðŸ‘‰total distance of trip 42 are 1966.3566701863942
**************************************************
the distance between CGK and DPS are 983.1783350931971KM
the distance between DPS and CGK are 983.1783350931971KM
ðŸ‘‰total distance of trip 43 are 1966.3566701863942
**************************************************
the distance between SIN and KUL are 297.2664360131855KM
the distance between KUL and SIN are 297.2664360131855KM
ðŸ‘‰total distance of trip 46 are 594.532872026371
**************************************************
the distance between SIN and KUL are 297.2664360131855KM
the distance between KUL and SIN are 297.2664360131855KM
ðŸ‘‰total distance of trip 47 are 594.532872026371
**************************************************
the distance between SIN and KUL are 297.2664360131855KM
the distance between KUL and SIN are 297.2664360131855KM
ðŸ‘‰total distance of trip 50 are 594.532872026371
**************************************************
the distance between SIN and KUL are 297.2664360131855KM
the distance between KUL and SIN are 297.2664360131855KM
ðŸ‘‰total distance of trip 51 are 594.532872026371
**************************************************
the distance between KUL and SIN are 297.2664360131855KM
ðŸ‘‰total distance of trip 53 are 297.2664360131855
**************************************************
the distance between SIN and SGN are 1087.5855987505056KM
the distance between SGN and HAN are 1154.6799229992403KM
the distance between HAN and SIN are 2207.065952704483KM
ðŸ‘‰total distance of trip 55 are 4449.3314744542295
**************************************************
the distance between SGN and HAN are 1154.6799229992403KM
ðŸ‘‰total distance of trip 56 are 1154.6799229992403
**************************************************
the distance between SIN and CGK are 878.0045174628995KM
the distance between CGK and SIN are 878.0045174628995KM
ðŸ‘‰total distance of trip 57 are 1756.009034925799
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 58 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 61 are 11693.84054523295
**************************************************
the distance between BLR and DXB are 2695.2105139115556KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and AMM are 109.49398094338206KM
the distance between AMM and DXB are 2024.0272455409702KM
the distance between DXB and BLR are 2695.2105139115556KM
ðŸ‘‰total distance of trip 62 are 9657.43052926928
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
ðŸ‘‰total distance of trip 63 are 2133.4882749618173
**************************************************

the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and LHR are 5504.715888419782KM
the distance between LHR and SIN are 10887.922642268739KM
ðŸ‘‰total distance of trip 64 are 22239.558803304993
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and FCO are 4348.379918908003KM
ðŸ‘‰total distance of trip 66 are 14462.276741448113
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
ðŸ‘‰total distance of trip 67 are 2133.4882749618173
**************************************************
the distance between TLV and LHR are 3593.140218728963KM
ðŸ‘‰total distance of trip 68 are 3593.140218728963
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 70 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 71 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
ðŸ‘‰total distance of trip 74 are 2133.4882749618173
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 75 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 77 are 15960.817095156584
**************************************************
âœ…total distance of trip 78 are 0
**************************************************
âœ…total distance of trip 79 are 0
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and LYS are 2975.586125290729KM
the distance between LYS and DXB are 4994.126312033581KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 80 are 21797.04125751908
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
ðŸ‘‰total distance of trip 81 are 7980.408547578292
**************************************************
the distance between TLV and MUC are 2656.810401341139KM
ðŸ‘‰total distance of trip 82 are 2656.810401341139
**************************************************
the distance between MUC and SIN are 10061.553007882825KM
ðŸ‘‰total distance of trip 83 are 10061.553007882825
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 84 are 11693.84054523295
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 85 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 86 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 87 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 88 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 89 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 90 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 91 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 92 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 93 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 94 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 95 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 96 are 4266.976549923635
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 97 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 98 are 15960.817095156584
**************************************************
the distance between NRT and DXB are 7993.965075012064KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and NRT are 7993.965075012064KM
ðŸ‘‰total distance of trip 99 are 20254.90669994776
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 101 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 102 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 103 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 104 are 4266.976549923635
**************************************************
the distance between NRT and DXB are 7993.965075012064KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and NRT are 7993.965075012064KM
ðŸ‘‰total distance of trip 105 are 20254.90669994776
**************************************************
the distance between SIN and DXB are 5846.920272616475KM

the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 107 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 108 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 109 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 110 are 4266.976549923635
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 111 are 4266.976549923635
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 112 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and LHR are 5504.715888419782KM
the distance between LHR and SIN are 10887.922642268739KM
ðŸ‘‰total distance of trip 113 are 22239.558803304993
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
ðŸ‘‰total distance of trip 114 are 2133.4882749618173
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 115 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 116 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 117 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 118 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 119 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 120 are 4266.976549923635
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 121 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 123 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 124 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 125 are 11693.84054523295
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 126 are 4266.976549923635
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 127 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and FCO are 4348.379918908003KM
ðŸ‘‰total distance of trip 129 are 14462.276741448113
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and FCO are 2281.2604843995373KM
the distance between FCO and DXB are 4348.379918908003KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 130 are 20456.96922350231
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 131 are 11693.84054523295
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 132 are 15960.817095156584
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 133 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 134 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 135 are 11693.84054523295
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 136 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 137 are 15960.817095156584
**************************************************
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 138 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 140 are 15960.817095156584
**************************************************
the distance between CGK and DXB are 6543.696070349125KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and CGK are 6543.696070349125KM
ðŸ‘‰total distance of trip 141 are 17354.368690621886
**************************************************
the distance between CGK and DXB are 6543.696070349125KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and CGK are 6543.696070349125KM
ðŸ‘‰total distance of trip 142 are 17354.368690621886
**************************************************
the distance between CGK and DXB are 6543.696070349125KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and CGK are 6543.696070349125KM
ðŸ‘‰total distance of trip 143 are 17354.368690621886
**************************************************
the distance between CGK and DXB are 6543.696070349125KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and CGK are 6543.696070349125KM
ðŸ‘‰total distance of trip 144 are 17354.368690621886
**************************************************

the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
ðŸ‘‰total distance of trip 145 are 4266.976549923635
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 146 are 15960.817095156584
**************************************************
the distance between TLV and LHR are 3593.140218728963KM
ðŸ‘‰total distance of trip 147 are 3593.140218728963
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 149 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 150 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 151 are 15960.817095156584
**************************************************
the distance between SIN and DXB are 5846.920272616475KM
the distance between DXB and TLV are 2133.4882749618173KM
the distance between TLV and DXB are 2133.4882749618173KM
the distance between DXB and SIN are 5846.920272616475KM
ðŸ‘‰total distance of trip 152 are 15960.817095156584
**************************************************

In [8]:
data.head(10)

,Client Name,Inv No,Date,Itin,Stop 1,Stop 2,Stop 3,Stop 4,Stop 5,Stop 6,...,Rail,Total,Cost Ctr,Emply ID,Contact,Sales Consultant,TR No,Purpose,PNR,A Flight
0,TOPANDASANI/KHUSHBU PERKASH MS,INV000012739,2022-04-01,CGK/SIN/CGK,NaN,NaN,NaN,NaN,NaN,NaN,...,0,581.40,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,LIAAQA,SQ495
1,CHUA/JOO HOCK MR,INV000012924,2022-04-26,SIN/DXB/SIN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,4853.00,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,LIAAQA,FZ8845
2,CHUA/JOO HOCK MR,INV000012924,2022-04-26,DXB/RUH,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1562.00,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,LIAAQA,EY2552
3,CHUA/JOO HOCK MR,INV000012924,2022-04-26,RUH/AUH,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1408.00,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,XZGUNY,EY391
4,CHUA/JOO HOCK MR,INV000012924,2022-04-26,AUH/DOH,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1550.00,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,SHGXAN,QR1018
5,CHUA/JOO HOCK MR,INV000012924,2022-04-26,DOH/DXB,NaN,NaN,NaN,NaN,NaN,NaN,...,0,2050.00,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,MIBZDD,FZ18
6,CHUA/JOO HOCK MR,INV000012924,2022-04-26,DOH/DXB,NaN,NaN,NaN,NaN,NaN,NaN,...,0,2230.00,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,NaN,NaN
7,CHUA/JOO HOCK MR,INV000012926,2022-04-26,QATAR AIRLINE REFUND FEES - DOH DXB 157 393...,NaN,NaN,NaN,NaN,NaN,NaN,...,0,26.75,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,SIMNFY,SQ964
8,FADHLANNISA/NISRINA FIRYAL MS,INV000012930,2022-04-27,CGK/SIN/CGK,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1365.00,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,WKSRPV,SQ958
9,KHOENG/GARY PRAWIRA MR,INV000012930,2022-04-27,CGK/SIN/CGK,NaN,NaN,NaN,NaN,NaN,NaN,...,0,2230.00,NaN,NaN,ANGELINE LEE,JASON LIM,NaN,NaN,LXMXNL,SQ968

In [178]:
data.to_csv(r'D:\MyCodeDir_HANZIZHENG\distance_caculation\result_2.csv')